<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dermstore Frontend Challenge</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <hero></hero>
      <section class="email-signup">
        <form @submit.prevent="onSubmit">
          <div class="card card--email-signup">
            <h1 class="card__title">Email Signup</h1>
            <div class="form__wrapper">
              <p class="card__body">
                <label for="name">Name:</label>
                <input id="name" v-model="name" placeholder="Joe Shmoe" />
              </p>
              <p class="card__body">
                <label for="email">Email:</label>
                <input
                  type="email"
                  id="email"
                  v-model="email"
                  placeholder="joe@shmoe.com"
                />
              </p>
              <p><input class="card__btn" type="submit" value="Sign Up" /></p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>
